* {
  scroll-behavior: smooth;
}

.App header .homePage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9c182f;
}

.App header .homePage .logoHome {
  width: 75%;
  margin-bottom: 10%;
}

.App header .homePage h2 {
  color: white;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  font-family: "cymru_sans_bodyitalic";
}

.App header .navbar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 10vh;
  background-color: #9c182f !important;
}

.App header .navbar .container .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5% auto;
}

.App header .navbar .container .navbar-brand .navLogo {
  width: 35%;
}

.App header .navbar .container .navbar-toggler {
  width: 15%;
  height: 45%;
  position: absolute;
  right: 5%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffcc99;
}

.App header .navbar .container .navbar-toggler span {
  background-color: #ffcc99;
  width: 90%;
  height: 100%;
}

.App header .navbar .container .collapsed {
  position: absolute;
  right: 5%;
}

.App header .navbar .container .navbar-collapse {
  background-color: #ffffff;
  width: 100%;
  margin: 0 -0.75rem;
}

.App header .navbar .container .navbar-collapse .navbar-nav {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20%;
}

.App header .navbar .container .navbar-collapse .navbar-nav a {
  background-color: #ffffff;
  color: #990033;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.App header .navbar .container .navbar-collapse .navbar-nav .pedido {
  color: black;
}

.App header .navbar .container .navbar-collapse .navbar-nav span {
  width: 80%;
  height: 1px;
  opacity: 50%;
  background-color: #9c182f;
}

.App header .navbar .container .show {
  height: 90vh;
}

.App header .fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.App header .fixed + .indice {
  padding-top: 60px;
}

.App main .indice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  background-color: black;
  height: 90vh;
  width: 100%;
  row-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App main .indice .indexCard {
  width: 100%;
  background-color: black;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.App main .indice .indexCard a {
  position: relative;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App main .indice .indexCard h2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  font-family: "pt_sans_narrowbold";
  font-size: 3em;
}

.App main .indice .indexCard img {
  background-color: black;
  overflow: hidden;
  height: 100%;
}

.App main .indice .golden {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
}

.App main .indice .petacas {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.App main .fixed {
  margin-top: 10vh;
}

.App main .productSection {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App main .productSection .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  position: relative;
}

.App main .productSection .banner img {
  height: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.App main .productSection .banner h2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  color: white;
  font-family: "pt_sans_narrowbold";
  font-size: 3em;
}

.App main .productSection .prodContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70vh;
}

.App main .productSection .prodContainer .bigProd {
  width: 100%;
}

.App main .productSection .prodContainer .bigProd .producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App main .productSection .prodContainer .bigProd .producto article {
  text-align: center;
}

.App main .productSection .prodContainer .bigProd .producto article h4 {
  margin: 0;
  font-family: "wales_sans_bodyregular";
}

.App main .productSection .prodContainer .bigProd .producto article p {
  margin: 0;
  font-family: "wales_sans_bodyregular";
}

.App main .productSection .prodContainer .bigProd .producto article .cant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App main .productSection .prodContainer .bigProd .producto article .cant img {
  width: 20%;
}

.App main .productSection .prodContainer .bigProd .producto img {
  width: 60%;
}

.App main .productSection .prodContainer .smallProducts {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  width: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  height: 60vh;
}

.App main .productSection .prodContainer .smallProducts .smallProdCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0;
}

.App main .productSection .prodContainer .smallProducts .smallProdCard img {
  height: 15vh;
}

.App main .productSection .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5vh;
  margin-top: -5%;
}

.App main .productSection .quantity .actionButtons {
  width: 22.5%;
  margin: 0 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1px solid silver;
  border-radius: 6px;
}

.App main .productSection .quantity .actionButtons h4 {
  text-align: center;
  margin: 0 2%;
  padding: 0;
  font-family: "wales_sans_bodyregular";
}

.App main .productSection .quantity .actionButtons button {
  width: 25px;
  border: none;
  background-color: #a5a3a3;
  font-family: "wales_sans_bodyregular";
}

.App main .productSection .quantity .price {
  width: 12.5%;
  text-align: center;
  border: 0.1px solid silver;
  border-radius: 6px;
  padding: 1% 3.5% 1% 1.5%;
  margin-right: 5%;
  font-family: "wales_sans_bodyregular";
}

.App main .productSection .quantity .arrow {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App main .productSection .quantity .arrow img {
  width: 20%;
}

.App main .productSection .sendButtons {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2%;
}

.App main .productSection .sendButtons button {
  border: 0.1px solid silver;
  border-radius: 6px;
  font-size: 0.85em;
  height: 70%;
  font-family: "wales_sans_bodyregular";
}

.App main .productSection:last-of-type .prodContainer .bigProd .producto img {
  width: 50%;
}

.App .fixed {
  padding-top: 10vh;
}

.App .storeContainer .pedidoUno {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .storeContainer .pedidoUno h2 {
  margin: 5vh 0 4vh 0;
}

.App .storeContainer .pedidoUno .pedido {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .storeContainer .pedidoUno .pedido .encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.App .storeContainer .pedidoUno .pedido .encabezado h4 {
  font-size: 0.85em;
  text-align: center;
}

.App .storeContainer .pedidoUno .pedido .encabezado .prd {
  width: 15%;
}

.App .storeContainer .pedidoUno .pedido .encabezado .dtl {
  width: 50%;
}

.App .storeContainer .pedidoUno .pedido .encabezado .cnt {
  width: 20%;
}

.App .storeContainer .pedidoUno .pedido .encabezado .prz {
  width: 15%;
}

.App .storeContainer .pedidoUno .pedido .products {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer {
  width: 100%;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .prodCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .prodCard h2 {
  margin: 0;
  font-size: 0.85em;
  text-align: center;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .prodCard img {
  width: 15%;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .prodCard .dtl {
  width: 50%;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .prodCard .cnt {
  width: 20%;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .prodCard .prz {
  width: 15%;
}

.App .storeContainer .pedidoUno .pedido .products .prodContainer .line {
  width: 100%;
  background-color: rgba(153, 0, 51, 0.3);
  margin: 2% 0;
  height: 1px;
}

.App .storeContainer .pedidoUno .pedido .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .storeContainer .pedidoUno .pedido .total h3 {
  font-size: 0.9em;
  margin: 0;
  text-align: center;
}

.App .storeContainer .pedidoUno .pedido .total .ttl {
  margin-left: 50%;
  width: 15%;
}

.App .storeContainer .pedidoUno .pedido .total .qtt {
  width: 20%;
}

.App .storeContainer .pedidoUno .pedido .total .ptt {
  width: 15%;
}

.App .storeContainer .pedidoUno button {
  background-color: #990033;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5vh;
  color: white;
  padding: 2%;
}

.App .storeContainer .pedidoDos {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .storeContainer .pedidoDos h2 {
  margin: 5vh 0 5vh 0;
}

.App .storeContainer .pedidoDos form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 75%;
}

.App .storeContainer .pedidoDos form input {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #b1b1b1;
  margin: 2% 0;
  height: 5vh;
}

.App .storeContainer .pedidoDos button {
  background-color: #990033;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5vh;
  color: white;
  padding: 2%;
}

.App .storeContainer .pedidoTres {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .storeContainer .pedidoTres img {
  width: 25%;
  margin: 10vh 0 5vh 0;
}

.App .storeContainer .pedidoTres h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5%;
}

.App .storeContainer .pedidoTres h4 {
  width: 65%;
  font-size: 0.9em;
  text-align: center;
}
/*# sourceMappingURL=app.css.map */