* {
  background-color: #9c182f;
}

.App header .homePage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App header .homePage .logoHome {
  width: 25%;
}

.App header .homePage h1 {
  color: #f6dfa4;
  font-size: 35px;
}

.App header .homePage h2 {
  color: white;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

.App header .navbar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  z-index: 10;
  height: 10vh;
}

.App header .navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.App header .navbar .navbar-brand .navLogo {
  width: 20%;
}

.App header .navbar .navbar-toggler {
  width: 15%;
  height: 40%;
  position: absolute;
  right: 5%;
}

.App header .fixed {
  position: fixed;
  top: 0;
}

.App main {
  background-color: black;
}

.App main .indice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  background-color: black;
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
  row-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App main .indice .indexCard {
  width: 100%;
  background-color: black;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.App main .indice .indexCard a {
  position: relative;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 100%;
  overflow: hidden;
}

.App main .indice .indexCard h2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  z-index: 1;
}

.App main .indice .indexCard img {
  background-color: black;
  overflow: hidden;
  height: 100%;
}

.App main .indice .goldenAge {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.App main .indice .petacas {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.App main .productSeciton {
  height: 90vh;
  margin-top: 10vh;
}
/*# sourceMappingURL=app.css.map */